In [57]:
import pandas as pd
import csv
import numpy
import sys

In [58]:
raw_rank = pd.read_csv("rank.csv")
raw_source = pd.read_csv("data.csv")
df = raw_rank
raw_rank

     Unnamed: 0                              Name  players
0             0  Counter-Strike: Global Offensive  586,446
1             1                            Dota 2  413,327
2             2               PUBG: BATTLEGROUNDS  184,883
3             3                     Apex Legends™  170,289
4             4                          Lost Ark  127,457
..          ...                               ...      ...
245         245                         ASTRONEER    1,970
246         246           Incremental Epic Hero 2    1,960
247         247            Batman™: Arkham Knight    1,955
248         248          CarX Drift Racing Online    1,948
249         249                        Subnautica    1,932

[250 rows x 3 columns]

In [59]:
players = df['players']
players_replace = []
for num in players:
    res = num.replace(',','')
    res = int(res[0:])
    players_replace.append(res)
df['players'] = players_replace
df

     Unnamed: 0                              Name  players
0             0  Counter-Strike: Global Offensive   586446
1             1                            Dota 2   413327
2             2               PUBG: BATTLEGROUNDS   184883
3             3                     Apex Legends™   170289
4             4                          Lost Ark   127457
..          ...                               ...      ...
245         245                         ASTRONEER     1970
246         246           Incremental Epic Hero 2     1960
247         247            Batman™: Arkham Knight     1955
248         248          CarX Drift Racing Online     1948
249         249                        Subnautica     1932

[250 rows x 3 columns]

In [60]:
miss_count = 0
miss_index = []
hit_index = []
rate_list = []
tags_list = []
owner_list = []
year_list = []
for i in range(len(df['Name'])):
    find_flag = 1
    target_name = df['Name'][i]
    res = raw_source[raw_source.name == target_name].index.tolist()
    if res == []:
        find_flag = 0
    else:
        hit_index.append(res[0])
    if find_flag == 0:
        miss_count += 1
        hit_index.append(0)
        miss_index.append(i)
    else:
        continue
print(miss_count)
miss = df['Name'][miss_index]
print(miss)

22
15                                    EA SPORTS™ FIFA 23
18                                                  MIR4
42                                 Yu-Gi-Oh! Master Duel
44                                          SUPER PEOPLE
65                                               Brotato
78                                  Torchlight: Infinite
84                                             Marauders
95                                           Shatterline
105                                        Terra Invicta
108    Pathfinder: Wrath of the Righteous - Enhanced ...
113                                     GUNDAM EVOLUTION
114                                      eFootball™ 2023
123                                         Coral Island
134                                        Idle Skilling
150                                       Omega Strikers
168                               Construction Simulator
183                                          Dome Keeper
198                         Farmer Against Potatoes Idle
203                                           ヘブンバーンズレッド
223                                      Slime Rancher 2
240                                           Lost Light
246                              Incremental Epic Hero 2
Name: Name, dtype: object

In [61]:
for i in hit_index:
    rate_list.append(raw_source['rate'][i])
    owner_list.append(raw_source['owners'][i])
    year_list.append(raw_source['release_date'][i])
    tags_list.append(raw_source['tags'][i])
df['rate'] = rate_list
df['owners'] = owner_list
df['year'] = year_list
df['tags'] = tags_list
df

,Unnamed: 0,Name,players,rate,owners,year,tags
0,0,Counter-Strike: Global Offensive,586446,0.882848,75000000,2012,"['FPS', 'Shooter', 'Multiplayer', 'Competitive..."
1,1,Dota 2,413327,0.829342,350000000,2013,"['Free to Play', 'MOBA', 'Multiplayer', 'Strat..."
2,2,PUBG: BATTLEGROUNDS,184883,0.565037,75000000,2017,"['Survival', 'Shooter', 'Multiplayer', 'Battle..."
3,3,Apex Legends™,170289,0.858303,75000000,2020,"['Free to Play', 'Multiplayer', 'Battle Royale..."
4,4,Lost Ark,127457,0.738609,35000000,2022,"['MMORPG', 'Free to Play', 'Action RPG', 'RPG'..."
...,...,...,...,...,...,...,...
245,245,ASTRONEER,1970,0.914825,3500000,2019,"['Multiplayer', 'Open World', 'Open World Surv..."
246,246,Incremental Epic Hero 2,1960,0.829342,350000000,2013,"['Free to Play', 'MOBA', 'Multiplayer', 'Strat..."
247,247,Batman™: Arkham Knight,1955,0.840942,3500000,2015,"['Action', 'Open World', 'Superhero', 'Stealth..."
248,248,CarX Drift Racing Online,1948,0.953353,1500000,2017,"['Racing', 'Driving', 'Simulation', 'Automobil..."
249,249,Subnautica,1932,0.964148,3500000,2018,"['Open World Survival Craft', 'Survival', 'Ope..."

In [ ]:
'''
dictionary
key: year
val: dictionary mapping tag to number
'''
year_tag_dict = {}
for index, row in df.iterrows():
    year = row["release_date"]
    tags = row["tags"]
    if year in year_tag_dict:
        tag_count_dict = year_tag_dict[year]
        for tag in tags:
            if tag in tag_count_dict:
                tag_count_dict[tag] += 1
            else:
                tag_count_dict[tag] = 1
    else:
        year_tag_dict[year] = {}
        for tag in tags:
            year_tag_dict[year][tag] = 1