In [31]:
import requests
import re
import time
from bs4 import BeautifulSoup
import pandas as pd

In [43]:
url = "https://steam250.com/most_played"
response = requests.get(url)
print(response.status_code)

200

In [44]:
soup = BeautifulSoup(response.content, "html.parser")
main_ranking = soup.find("div",class_="col1 main ranking")

In [46]:
first = main_ranking.find(id="1")
title = first.find("span",class_="title").find("a")
print(title.text.strip())
score = first.find("span",class_="players")
print(score.text.strip())

Counter-Strike: Global Offensive
616,202

In [47]:
names = []
players = []
for i in range(250):
    idx = i + 1
    content = main_ranking.find(id=str(idx))
    title = content.find("span",class_="title").find("a").text.strip()
    names.append(title)
    score = content.find("span",class_="players").text.strip()
    players.append(score)

In [48]:
len(names)

250

In [49]:
len(players)

250

In [50]:
df = pd.DataFrame()
df['Name'] = names
df['players'] = players
df

                                 Name  players
0    Counter-Strike: Global Offensive  616,202
1                              Dota 2  450,685
2                       Apex Legends™  209,117
3                 PUBG: BATTLEGROUNDS  200,559
4                            Lost Ark  153,282
..                                ...      ...
245                        Green Hell    2,030
246           Incremental Epic Hero 2    2,018
247                           Cuphead    1,995
248                        Last Epoch    1,971
249              DRAGON BALL FighterZ    1,966

[250 rows x 2 columns]

In [ ]:
df.to_csv("players.csv")