In [73]:
import requests
import csv
import re
import time
from bs4 import BeautifulSoup
import pandas as pd

In [74]:
url = "https://steam250.com/most_played"
response = requests.get(url)
print(response.status_code)

200

In [75]:
soup = BeautifulSoup(response.content, "html.parser")
main_ranking = soup.find("div",class_="col1 main ranking")

In [76]:
first = main_ranking.find(id="1")
title = first.find("span",class_="title").find("a")
print(title.text.strip())
score = first.find("span",class_="players")
print(score.text.strip())

Counter-Strike: Global Offensive
586,446

In [77]:
names = []
players = []
for i in range(250):
    idx = i + 1
    content = main_ranking.find(id=str(idx))
    title = content.find("span",class_="title").find("a").text.strip()
    names.append(title)
    score = content.find("span",class_="players").text.strip()
    players.append(score)

In [78]:
len(names)

250

In [79]:
len(players)

250

In [80]:
df = pd.DataFrame()
df['Name'] = names
df['players'] = players
df

                                 Name  players
0    Counter-Strike: Global Offensive  586,446
1                              Dota 2  413,327
2                 PUBG: BATTLEGROUNDS  184,883
3                       Apex Legends™  170,289
4                            Lost Ark  127,457
..                                ...      ...
245                         ASTRONEER    1,970
246           Incremental Epic Hero 2    1,960
247            Batman™: Arkham Knight    1,955
248          CarX Drift Racing Online    1,948
249                        Subnautica    1,932

[250 rows x 2 columns]

In [81]:
df.to_csv("rank.csv")